github "Salemove/ios-bundle" == 0.7.14

github "SwiftyBeaver/SwiftyBeaver" == 1.4.2
github "matthewpalmer/Locksmith" == 4.0.0
github "Moya/Moya" == 11.0.2
github "Hearst-DD/ObjectMapper" == 3.3.0
github "davidstump/SwiftPhoenixClient" == 0.9.1
github "Anakros/WebRTC" == 63.11.20455
github "socketio/Socket.IO-Client-Swift" == 9.0.1
